.AboutMe {
  height: 80%;
  padding-top: 50px;

  .Section {
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 50px;
    transform: translateX(-100px);
    opacity: 0;

    h1 {
      color: white;
      padding-bottom: 10px;
      font-family: Nexa;
    }

    p {
      color: white;
      padding-bottom: 10px;
      font-family: Nexa;
    }
  }

  .TextContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 80px;
    transform: translateX(-100px);
    opacity: 0;
    background: #252425;
    padding: 20px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    flex-direction: column;

    h1 {
      color: white;
      border-bottom: solid 3px white;
      margin-bottom: 25px;
      padding-left: 5px;
    }

    div {
      display: flex;

      i {
        display: flex;
        height: 130px;
        width: 200px;
        position: relative;
        justify-content: center;
        margin-right: 30px;
      }

      .Book svg {
        position: absolute;
        left: 30px;
        height: 100%;
      }

      .Hobbies {
        height: 194px;
        width: 220px;
      }

      p {
        color: white;
        font-family: "Nexa";
        font-size: 18px;
        width: 500px;
        line-height: 30px;
      }
    }
  }

  @keyframes enter {
    to {
      opacity: 1;
      transform: none;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .EnterAnimation {
      animation: enter 1s forwards;
    }
  }
}

@media screen and (max-width: 800px) {
  .AboutMe {
    padding-left: 10px;
    padding-right: 10px;

    .TextContainer {
      width: 100%;

      div {
        display: inline-block;

        p {
          font-size: 15px;
          width: 60%;
          height: 100%;
          line-height: 25px;
          float: none;
          margin: 0;
          font-family: sans-serif;
        }

        i {
          height: auto;
          margin-right: 0 0 0 20px;
          float: right;
          width: 30% !important;
        }

        .Book {
          svg {
            position: relative;
            left: 0;
          }
        }
      }
    }
  }
}
