@font-face {
  font-family: "Fixedsys";
  src: url("../Fonts/Fixedsys.ttf");
}

.Console {
  top: 140px;
  position: relative;
  height: 500px;
  width: 800px;
  border-radius: 10px;
  border: solid 8px #15151a;
  border-top: none;
  background-color: #0f0f13;
  -webkit-box-shadow: 6px 6px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 6px 5px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-animation: slideUp 1s 4s forwards;
          animation: slideUp 1s 4s forwards;
}

.Console .Top {
  background-color: #15151a;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Console .Top :first-child {
  background-color: #fa5c57;
  margin-left: 10px;
}

.Console .Top :nth-child(2) {
  background-color: #e5be3c;
}

.Console .Top :last-child {
  background-color: #5ebf38;
}

.Console .Top .Circle {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

.Console .Content {
  padding: 15px;
}

.Console .Content .Row {
  color: #28de76;
  font-family: "Fixedsys";
  font-size: 26px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow-wrap: break-word;
}

.Console .Content .Row::before,
.Console .Content .Row::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Console .Content .one {
  margin-bottom: 15px;
  -webkit-animation: clear 0s calc(4s + 6.5s) forwards;
          animation: clear 0s calc(4s + 6.5s) forwards;
}

.Console .Content .two,
.Console .Content .three {
  -webkit-animation: clear 0s calc(4s + 6.5s) forwards;
          animation: clear 0s calc(4s + 6.5s) forwards;
}

.Console .Content .one::before {
  background-color: #0f0f13;
  -webkit-animation: typewriter 1s steps(41) calc(4s + 1s) forwards;
          animation: typewriter 1s steps(41) calc(4s + 1s) forwards;
}

.Console .Content .one::after {
  width: 8px;
  background-color: #28de76;
  -webkit-animation: typewriter 1s steps(41) calc(4s + 1s) forwards, blink 800ms steps(41) infinite, hide 0s calc(4s + 2s) forwards;
          animation: typewriter 1s steps(41) calc(4s + 1s) forwards, blink 800ms steps(41) infinite, hide 0s calc(4s + 2s) forwards;
}

.Console .Content .two::before {
  background-color: #0f0f13;
  -webkit-animation: typewriter 0.5s steps(18) calc(4s + 2.3s) forwards;
          animation: typewriter 0.5s steps(18) calc(4s + 2.3s) forwards;
}

.Console .Content .two::after {
  visibility: hidden;
  width: 8px;
  background-color: #28de76;
  -webkit-animation: typewriter 0.5s steps(18) calc(4s + 2.3s) forwards, blink 800ms steps(18) infinite, show 0s calc(4s + 2.3s) forwards, hide 0s calc(4s + 2.3s + 0.5s) forwards;
          animation: typewriter 0.5s steps(18) calc(4s + 2.3s) forwards, blink 800ms steps(18) infinite, show 0s calc(4s + 2.3s) forwards, hide 0s calc(4s + 2.3s + 0.5s) forwards;
}

.Console .Content .three::before {
  background-color: #0f0f13;
  -webkit-animation: typewriter2 3s steps(11) calc(4s + 3s) forwards;
          animation: typewriter2 3s steps(11) calc(4s + 3s) forwards;
}

.Console .Content .three::after {
  visibility: hidden;
  position: absolute;
  top: 25px;
  width: 15px;
  height: 3px;
  background-color: #28de76;
  -webkit-animation: typewriter2 3s steps(11) calc(4s + 3s) forwards, blink 800ms steps(11) infinite, show 0s calc(4s + 3s) forwards;
          animation: typewriter2 3s steps(11) calc(4s + 3s) forwards, blink 800ms steps(11) infinite, show 0s calc(4s + 3s) forwards;
}

.Console .Content .four::before {
  background-color: #0f0f13;
  -webkit-animation: typewriter 0.5s steps(30) calc(4s + 7s) forwards;
          animation: typewriter 0.5s steps(30) calc(4s + 7s) forwards;
}

.Console .Content .four::after {
  visibility: hidden;
  width: 8px;
  background-color: #28de76;
  -webkit-animation: typewriter 0.5s steps(30) calc(4s + 7s) forwards, blink 800ms steps(30) infinite, show 0s calc(4s + 7s) forwards, hide 0s calc(4s + 7.5s) forwards;
          animation: typewriter 0.5s steps(30) calc(4s + 7s) forwards, blink 800ms steps(30) infinite, show 0s calc(4s + 7s) forwards, hide 0s calc(4s + 7.5s) forwards;
}

.Console .Content .five::before {
  background-color: #0f0f13;
  -webkit-animation: typewriter 1s steps(56) calc(4s + 7.7s) forwards;
          animation: typewriter 1s steps(56) calc(4s + 7.7s) forwards;
}

.Console .Content .five::after {
  visibility: hidden;
  width: 8px;
  background-color: #28de76;
  -webkit-animation: typewriter 1s steps(56) calc(4s + 7.7s) forwards, blink 800ms steps(56) infinite, show 0s calc(4s + 7.7s) forwards, hide 0s calc(4s + 8.7s) forwards;
          animation: typewriter 1s steps(56) calc(4s + 7.7s) forwards, blink 800ms steps(56) infinite, show 0s calc(4s + 7.7s) forwards, hide 0s calc(4s + 8.7s) forwards;
}

.Console .Content .six::before {
  background-color: #0f0f13;
  -webkit-animation: typewriter 1s steps(55) calc(4s + 8.9s) forwards;
          animation: typewriter 1s steps(55) calc(4s + 8.9s) forwards;
}

.Console .Content .six::after {
  visibility: hidden;
  width: 8px;
  background-color: #28de76;
  -webkit-animation: typewriter 1s steps(55) calc(4s + 8.9s) forwards, blink 800ms steps(55) infinite, show 0s calc(4s + 8.9s) forwards, hide 0s calc(4s + 9.9s) forwards;
          animation: typewriter 1s steps(55) calc(4s + 8.9s) forwards, blink 800ms steps(55) infinite, show 0s calc(4s + 8.9s) forwards, hide 0s calc(4s + 9.9s) forwards;
}

.Console .Content .seven::before {
  background-color: #0f0f13;
  -webkit-animation: typewriter 0.8s steps(42) calc(4s + 10.1s) forwards;
          animation: typewriter 0.8s steps(42) calc(4s + 10.1s) forwards;
}

.Console .Content .seven::after {
  visibility: hidden;
  width: 8px;
  background-color: #28de76;
  -webkit-animation: typewriter 0.8s steps(42) calc(4s + 10.1s) forwards, blink 800ms steps(42) infinite, show 0s calc(4s + 10.1s) forwards, hide 0s calc(4s + 10.9s) forwards;
          animation: typewriter 0.8s steps(42) calc(4s + 10.1s) forwards, blink 800ms steps(42) infinite, show 0s calc(4s + 10.1s) forwards, hide 0s calc(4s + 10.9s) forwards;
}

.Console .Content .eight::before {
  background-color: #0f0f13;
  -webkit-animation: typewriter 0.5s steps(25) calc(4s + 11.1s) forwards;
          animation: typewriter 0.5s steps(25) calc(4s + 11.1s) forwards;
}

.Console .Content .eight::after {
  visibility: hidden;
  width: 8px;
  background-color: #28de76;
  -webkit-animation: typewriter 0.5s steps(25) calc(4s + 11.1s) forwards, blink 800ms steps(42) infinite, show 0s calc(4s + 11.1s) forwards;
          animation: typewriter 0.5s steps(25) calc(4s + 11.1s) forwards, blink 800ms steps(42) infinite, show 0s calc(4s + 11.1s) forwards;
}

@-webkit-keyframes typewriter {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes typewriter2 {
  0% {
    left: 9.16%;
  }
  33% {
    left: 9.16%;
  }
  100% {
    left: 100%;
  }
}

@keyframes typewriter2 {
  0% {
    left: 9.16%;
  }
  33% {
    left: 9.16%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  0% {
    background-color: #0f0f13;
  }
  50% {
    background-color: #28de76;
  }
  100% {
    background-color: #0f0f13;
  }
}

@keyframes blink {
  0% {
    background-color: #0f0f13;
  }
  50% {
    background-color: #28de76;
  }
  100% {
    background-color: #0f0f13;
  }
}

@-webkit-keyframes hide {
  to {
    visibility: hidden;
  }
}

@keyframes hide {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes show {
  to {
    visibility: visible;
  }
}

@keyframes show {
  to {
    visibility: visible;
  }
}

@-webkit-keyframes slideUp {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes clear {
  to {
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
  }
}

@keyframes clear {
  to {
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=Console.css.map */