@font-face {
  font-family: "Nexa";
  src: url("../Fonts/Nexa-Bold.otf");
}

$typewriter-speed: 3s;

.Intro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 820px;
  background: #17181c;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  box-sizing: content-box;

  #Border {
    width: 100%;
    height: 5px;
    background-color: #d0d0d0;
    position: absolute;
    top: -5px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    animation: slide-right 0.5s 6s forwards;
  }

  p {
    color: white;
    font-size: 25px;
    font-family: Fixedsys;
    position: relative;
    width: max-content;
  }

  p::before,
  p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #One::before {
    background-color: #17181c;
    animation: typewriter 0.8s steps(30) 7s forwards;
  }

  #One::after {
    visibility: hidden;
    width: 8px;
    background-color: white;
    animation: typewriter 0.8s steps(30) 7s forwards,
      blink 800ms steps(30) infinite, show 0s 7s forwards, hide 0s 7.8s forwards;
  }

  #Two::before {
    background-color: #17181c;
    animation: typewriter 1.7s steps(65) 8s forwards;
  }

  #Two::after {
    visibility: hidden;
    width: 8px;
    background-color: white;
    animation: typewriter 1.7s steps(65) 8s forwards,
      blink 800ms steps(65) infinite, show 0s 8s forwards, hide 0s 9.7s forwards;
  }

  #Three::before {
    background-color: #17181c;
    animation: typewriter 1.6s steps(60) 9.9s forwards;
  }

  #Three::after {
    visibility: hidden;
    width: 8px;
    background-color: white;
    animation: typewriter 1.6s steps(60) 9.9s forwards,
      blink 800ms steps(60) infinite, show 0s 9.9s forwards,
      hide 0s 11.5s forwards;
  }

  #Four::before {
    background-color: #17181c;
    animation: typewriter 1.7s steps(63) 11.7s forwards;
  }

  #Four::after {
    visibility: hidden;
    width: 8px;
    background-color: white;
    animation: typewriter 1.7s steps(63) 11.7s forwards,
      blink 800ms steps(63) infinite, show 0s 11.7s forwards,
      hide 0s 13.4s forwards;
  }

  #Five::before {
    background-color: #17181c;
    animation: typewriter 0.3s steps(11) 13.6s forwards;
  }

  #Five::after {
    visibility: hidden;
    width: 8px;
    background-color: white;
    animation: typewriter 0.3s steps(11) 13.6s forwards,
      blink 800ms steps(11) infinite, show 0s 13.6s forwards,
      hide 0s 13.9s forwards;
  }
}

.Intro::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1c1d22;
  animation: slide-down 0.5s 6.5s forwards;
  z-index: 1;
}

@keyframes enter {
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes hide {
  to {
    visibility: hidden;
  }
}

@keyframes show {
  to {
    visibility: visible;
  }
}

@keyframes slide-right {
  to {
    transform: none;
  }
}

@keyframes slide-down {
  to {
    top: 100%;
  }
}
